// COLORS
$color-primary-light: rgb(40, 89, 180);
$color-primary-light-2: rgb(57, 125, 251);
$color-primary-dark: rgb(0, 51, 75);

$color-secondary-light: #ff7730;
$color-secondary-dark: #421800;

$color-tertiary-light: #7700ff;
$color-tertiary-dark: #2e0083;

$color-green-light: #008337;
$color-green-dark: #00411b;

$color-grey-dark: rgb(77, 77, 77);
$color-grey: rgb(182, 182, 182);
$color-grey-light: #f7f7f7;

$color-white: #FFF;
$color-black: #2E2E2E;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;