.composition {

    position: relative;


    &__pcard {
        position: relative;

    }

    &__c1 {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 400;
    }


    &__parent {
        filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
        position: relative;

      }

    &__my-element-to-clip {
        height: 344px;
        // width: auto;
        clip-path: url(#myCurve);
        position: absolute;
        z-index: 20;

    }

 


    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        position: absolute;
        transition: all .2s;
        z-index: 10;
        outline-offset: 1rem; // used with the outline prop we applied to the children
        border-radius: 20px;



        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
            outline-offset: .5rem;
        }
        

        &--p1 {
            left: 0;
            top: -2rem;


            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);

            }
        }

        &--p2 {
            right: 0; // right means it will start from the right side.
            top: 2rem;

            @include respond(tab-port) {
                top:  -1rem;
                transform: scale(1.3);
                z-index: 11;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port) {
                left: 0;
                top:  0;
                transform: scale(1.2);
            }
        }

        &:hover {
            outline: 1rem solid rgba($color-primary-light, .85);
            // -moz-outline-radius: none;
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;


            @include respond(tab-port) {
                outline: .5rem solid rgba($color-primary-light, .65);
                transform: scale(1.4) translateY(-.5rem);
                box-shadow: 0 2.5rem 3rem rgba($color-black, 0.3);
            }


        }
    }

    &:hover &__photo:not(:hover) { // composition:hover composition__photo:not(:hover)
        transform: scale(.95);
        filter: brightness(75%);

        @include respond(tab-port) {
            transform: scale(1.1);
            filter: brightness(75%);
        }
    }

}