.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem !important;
    
    @include respond(tab-port) {
        margin-bottom: 6rem !important;
    }
}

.u-margin-bottom-5 {
    margin-bottom: 5rem !important;
}

.u-margin-bottom-sm {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}


.u-margin-top-lg {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 6rem !important;
    }
}

.u-margin-top-xl {
    margin-top: 10rem !important;
}